body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #BB99AA;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400; /* regular */
}

.header-container {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 1001; /* Ensure the header is always on top */
    background-color: #F4F2E9;
    display: flex;
    align-items: center;
    justify-content: start;
}

header * {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 75px; /* Adjust this value to account for the height of your header */
    bottom: 0;
    left: 0;
    right: 0;
}

.form-container {
    position: absolute;
    top: 75px; /* Adjust this value to account for the height of your header */
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


#formMap {
    flex: 1;
    height: 100%;
}

#arrow-left {
    margin-top: 5vh;
    height: 50%;
    width: 80%;
}

form {
    flex: 1;
    background-color: #BB99AA;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
}

#form-side {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.form-group {
    display: flex;
    border: 3px solid #86586A;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1vh;
    margin-right: 2vw;
    padding: 0 5vw; 
    background-color: #F4F2E9;
}

.form-entry {
    margin-bottom: 2vh;
}

.form-entry-check {
    display: flex;
    margin-bottom: 2.5vh;
}

form input[type="text"], form input[type="email"], form textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F4F2E9;
    width: 30vw;
    height: 2.5vh;
}

form textarea {
    height: 10vh;
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    border: 2px solid #86586A;
    outline: none;
}

form input[type="submit"] {
    background-color: #3D6C54;
    font-size: 1em;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #20392C;
}


.submit-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500; /* semi-bold */
    color: #20392C;
}

h1 {
    font-family: 'Caveat', cursive;
    margin-left: 10px;
    z-index: 3;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #F4F2E9;
}

#helpModal h3, #map-instruction h3{
    font-family: 'Poppins', sans-serif;
    color: #F4F2E9;
}

.logo a{
    text-decoration: none;
    color: #BB99AA;
    z-index: 3;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px; /* match the height of the header */
    list-style-type: none;
    width: 100%; /* span the entire width of the viewport */
    z-index: 1;
}

.navbar * {
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #86586A; /* Green text */
    font-size: 1.2em;
    font-weight: 500; /* semi-bold */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded edges */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Change cursor to pointer when hovering over the link */
    padding: 10px; /* Add some padding */
    text-align: center; /* Center the text */
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Add a transition effect */
}

.navbar a.current {
    text-decoration: underline; 
}

.navbar a:hover {
    background-color: #BB99AA; /* Change background to green on hover */
    color: white; /* Change text to white on hover */
}

.burger-menu a.current {
    text-decoration: underline; 
}

.burger-menu a span:hover {
    background-color: #BB99AA; /* Change background to green on hover */
    color: white; /* Change text to white on hover */
    padding: 10px;
    border-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1000; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
    align-items: center; /* Center items vertically */
}

/* Modal Content/Box */

.modal-content {
    display: grid; /* Use Grid */
    grid-template-columns: 1fr 1fr; /* Divide the modal into two equal columns */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    max-height: 80%;
    border-radius: 10px;
    overflow: auto;
    background-color: #BB99AA;
    position: fixed; /* Position the modal content fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct the center point */
    margin-top: 50px; /* Set the minimum margin at the top */
}

.modal-content .image-container {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    grid-area: 1 / 1 / 2 / 2; /* Place the container in the first column */
}

.modal-content .image-container img {
    width: 100%; /* Set the width to 90% of the parent element */
}

.modal-content .text-container {
    grid-area: 1 / 2 / 2 / 3; /* Place the text in the second column */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center the elements vertically */
    padding-left: 20px; /* Add some space to the left of the text */
    position: relative; /* Set position context for the close button */
}

.modal-content h2, .helpModal-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(1em + 1vw); /* Scale with the viewport width, but don't go below 1em */
    font-weight: 600; /* bold */
    color: #F4F2E9;
}

.modal-content p, .helpModal-content p{
    color: #20392C;
}   

.postmodal-content {
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    max-height: 80%;
    border-radius: 10px;
    overflow: auto;
    background-color: #3D6C54;
    position: fixed; /* Position the modal content fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct the center point */
    margin-top: 50px; /* Set the minimum margin at the top */
}

.postmodal-description {
    background-color: #86586A;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

.postmodal-author {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-left: 15px;
}

.helpModal-content {
    display: block; /* Use Grid */
    grid-template-columns: 1fr 1fr; /* Divide the modal into two equal columns */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    min-height: 50%; /* Make the modal a square */
    border-radius: 10px;
    overflow: auto;
    background-color: #BB99AA;
    position: fixed; /* Position the modal content fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct the center point */
    margin-top: 75px; /* Set the minimum margin at the top */
}

/* The Close Button */
.close, .helpClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #222222;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.helpClose:hover,
.helpClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.abbrechen {
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded edges */
    color: #86586A; /* Green text */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    padding: 10px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Add a transition effect */
}

.abbrechen:hover {
    background-color: #BB99AA; /* Change background to green on hover */
    color: white; /* Change text to white on hover */
}

.help-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    background-color: #BB99AA;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.help-button:hover {
    background-color: #86586A;
}

#map-legend {
    font-family: 'Poppins', sans-serif;
}

#map-legend span {
    color: #20392C;
}

.aboutus-container {
    position: absolute;
    top: 75px; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BB99AA;
    color: #F4F2E9;
}

.aboutus-content, .aboutus-container {
    padding: 20px;
}

.aboutus-content h2, .aboutus-container h2 {
    text-decoration: underline;
}

.aboutus-content h3, .aboutus-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600; /* bold */
    color: #F4F2E9;
}

.aboutus-container h3 {
    font-family: 'Poppins', sans-serif;
}

.graetzelbook-content p {
    margin-bottom: 5vh;
}

.forum-container {
    position: absolute;
    top: 75px; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BB99AA;
    color: #F4F2E9;
    display: flex;
    justify-content: center;
    width: 100%;
}

.forum-content {
    padding: 20px;
    width: 100%;
}

.forum-content h2 {
    text-decoration: underline;
}

.forum-content table {
    width: 100%;
    text-align: center;
    border-collapse:separate;
    border:solid #86586A 1px;
    border-radius:5px;
    background-color: #F4F2E9;
    table-layout: fixed;
}

.forum-content th {
    text-align: center;
    background-color: #3D6C54;
    color: #F4F2E9;
    border-top: none;
}

.forum-content th, .forum-content td {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    color: #F4F2E9;
}

.forum-content td {
    color: #20392C;
}

.forum-content a {
    text-decoration: none;
    color: #20392C;
}

.forum-content th:nth-child(1), .forum-content td:nth-child(1) {
    width: 60%;
}

.forum-content th:nth-child(2), .forum-content td:nth-child(2),
.forum-content th:nth-child(3), .forum-content td:nth-child(3) {
    width: 15%;
}

.forum-content th:nth-child(4), .forum-content td:nth-child(4) {
    width: 10%;
}

.return-button {
    color: #3D6C54;
    font-size: 0.8em;
}

.return-button p:hover {
    color: #3D6C54;
}

.forum-button {
    background-color: #86586A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 1vh;
}

.comment-button {
    background-color: #86586A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-top: 1vh;
}

.forum-button:hover {
    background-color: #E5E0CC;
    color: #86586A;
}

.comment-button:hover {
    background-color: #BB99AA;
    color: #F4F2E9;
}

.choice-container {
    position: absolute;
    top: 75px; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BB99AA;
    color: #F4F2E9;
}

.choice-content {
    padding: 20px;
}

.choice-content h2 {
    text-decoration: underline;
}

.choice-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 0.2fr;
    justify-content: center;
}

.choice-grid span {
    padding: 10px;
    height: 10vh;
}

.choice-grid img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.choice-span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.choice-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.choice-button {
    background-color: #86586A;
    color: #F4F2E9;
    padding: 34px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1vw;
    font-size: 1em;
}

.choice-button:nth-child(3) {
    margin-right: 0;
}

.choice-button:hover {
    background-color: #E5E0CC;
    color: #86586A;
}

.team-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.team-pics img {
    margin: 10px;
    width: 20%;
    height: 35vh;
    object-fit: cover;
}

.team-tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

form h2 {
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
}

#sources span {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500; /* semi-bold */
    color: #20392C;
}

.helpModal-content h3 {
    text-decoration: underline;
}

#jakub {
    object-fit: cover;
    object-position: 17% 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position it right below the parent nav element */
    left: 0;
    background-color: #F4F2E9;
    width: 100%; 
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: Adds a shadow for a "pop out" effect */
}

.burger-menu-icon {
    display: none;
}

.burger-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #86586A; /* Or any color you prefer */
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1200px) {
    .header-container {
        justify-content: space-between;
    }

    .navbar a {
        display: none;
    }

    .burger-menu-icon {
        display: flex;
        margin-left: auto;
        margin-right: 1vw;
        position: relative;
        z-index: 1005;
        cursor: pointer;
    }

    .burger-menu-icon img {
        width: 40px;
    }

    .choice-button {
        padding: 1vh 1vw;
    }

    .choice-button p {
        font-size: 1em;
    }

    .choice-img {
        display: none;
    }

    .forum-content th {
        padding: 5px;
    }

    .modal-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .modal-content .text-container {
        padding: 0px;
    }
}

@media (max-width: 950px) {

    .forum-content {
        padding: 5px;
    }

    .forum-content table {
        width: auto;
    }

    .team-pics {
        flex-direction: column;
    }

    .team-pics img {
        width: auto;
        max-width: 250px;
    }

}
